#navbar{   
    flex-direction: column;
}

#navbar ul li a{
    margin: 11px;
    padding: 4px;
}

#home{
    height: 0px;
    margin: 145px 0px;
    padding: 8px 0px;
}
#home .h-primary,h1{
    margin: 53px 23px;
}
#home::before{
    height: 327px;
}
#home .h-primary{
    margin-top: -183px;
}

#home .heading,h1{
    height: 0px;

}

#home .paragraph,p{
    height: 172px;
}
#home .btn{
    height: 23;
}
#services{
    flex-direction: column;
}

#services .box{
    margin: auto;
}
#services-container .center{
    padding: 13px;
    height: 6px;
}

#services .box, img{
    width:154px;
}

#services-container::before{
   height:995px;
}

#services .box .h-secondary ,h2{
    height: 12px;
}


#client{
    flex-wrap: wrap;
}
#client img{
    height: 50px;
    width: 60px;
}



#client-container::before {
    height: 58px;
    margin-top: 54px;
}

#services-container{
    height: 985px;
}

#contact::before{
    margin-top: 55px;
}

.contact-box{
    height: 430px;
}

#contact .heading{
    margin-top: 0px;
}

#contact{
    height: 491px;
}

